name: Generate EPG
on:
  schedule:
    - cron: 0 * * * *
  workflow_dispatch: null
  push:
    paths:
      - .github/workflows/ci.yaml
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - name: Ensure directories exist
        run: |
          mkdir -p bin
          mkdir -p bin/tvplus.com.tr
          mkdir -p bin/dsmart.com.tr
          mkdir -p bin/digiturk.com.tr
          mkdir -p bin/turksatkablo.com.tr
          mkdir -p bin/ziggogo.tv
      - name: Grab guides
        run: |
          git clone --depth 1 -b master https://github.com/iptv-org/epg.git
          cd epg
          npm install
          npm run grab --- --site=tvplus.com.tr --output=../bin/tvplus.com.tr/guide.xml
          npm run grab --- --site=dsmart.com.tr --output=../bin/dsmart.com.tr/guide.xml
          npm run grab --- --site=digiturk.com.tr --output=../bin/digiturk.com.tr/guide.xml
          # Disabled until certificate is resolved
          # npm run grab --- --site=turksatkablo.com.tr --output=../bin/turksatkablo.com.tr/guide.xml
          npm run grab --- --site=ziggogo.tv --output=../bin/ziggogo.tv/guide.xml
          cd ..
          rm -rf epg
      - name: Commit and push
        run: |
          if [ -z "$(git status --porcelain)" ]; then
            echo "No changes"
          else
            git config --global user.name github-actions
            git config --global user.email github-actions@github.com
            git add bin/*
            git commit -m "Update EPG"
            git push
          fi
